@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url(reset.css);

:root{
  --largeFont: 1.5rem;
  --emptyPadding: 1.4rem
}
html{
  transition: all 0.5s;
}
body {
  font-family: 'Inconsolata', monospace;
  overflow-x: auto;
  width: 100%;
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.game--form{
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 5em;
  padding: 5%;
}

/*Styling game panel*/
.top--panel{
  width: 50%;
  display: flex;
  justify-content: space-around;
  
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: var(--largeFont);
}

input[type=number]{
  border: 0px;
  margin: 0;
  padding: 2px;
  border-radius: 2px;
}
input:focus{
  border-radius: 2px;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
  outline: 0;
  box-shadow: 0px 0px 5px grey;
}
.mine--block{
  display: inline-block;
  aspect-ratio: 1/1;
  user-select: none;
  margin: 1px;
  cursor: pointer;
  width: 17.5px;
}


.game--container{
  
  width:75%;
  line-height: 0%;
  font-size: var(--largeFont);
  margin: auto;
  white-space: nowrap;
  text-align: center;
}
.white{
  color: white;
}

.darkmode-container{
  margin: auto;
  width: 90%;
  text-align: right;
}
body:has(.darkmode-container>#darkmode:checked){
  background-color: aqua;  
}

.dark{
  filter:invert(1);
  transition: all 0.5s;
}

.saving-modal, .leaderboard-modal{
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%; 
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  transition: all 1s;
}
.saving-modal-show, .leaderboard-modal-show{
  display: flex;
  transition: all 1s;
}
.button{
  font-weight: bolder;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1%;
}
.button:hover::after{
  content: "";
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
  transition: all 0.2s;
}
.button::after{
  content: "";
  display: block;
  width: 0%;
  background-color: black;
  height: 1px;
  transition: all 1s;
}
#leaderboard-button{
  margin: auto;
  width: fit-content;
}